@using Microsoft.AspNetCore.Identity
@using Snackistwo.Areas.Identity.Data

@inject SignInManager<SnackistwoUser> SignInManager
@inject UserManager<SnackistwoUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-white" asp-area="" asp-page="/Admin" title="Admin">Admin</a>
            </li>
        }

    
     var currentUser = await UserManager.GetUserAsync(User);
     var userImage = currentUser?.Image ?? "20240527153630.jpg"; // Provide a default image in case of null
    


    <li class="nav-item">
        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-page="/Messages">Inbox</a>
    </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Logout</button>
            </form>
        </li>
    <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-page="/Profile"><img src="/userImages/@userImage" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;" /></a>
    </li>
    
   
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
