@page
@model Snackistwo.Pages.Admin.ReplyAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reply.Id" />
            <div class="form-group">
                <label asp-for="Reply.Content" class="control-label"></label>
                <input asp-for="Reply.Content" class="form-control" />
                <span asp-validation-for="Reply.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply.TopicId" class="control-label"></label>
                <input asp-for="Reply.TopicId" class="form-control" />
                <span asp-validation-for="Reply.TopicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply.PostedOn" class="control-label"></label>
                <input asp-for="Reply.PostedOn" class="form-control" />
                <span asp-validation-for="Reply.PostedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply.UserId" class="control-label"></label>
                <input asp-for="Reply.UserId" class="form-control" />
                <span asp-validation-for="Reply.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply.UserName" class="control-label"></label>
                <input asp-for="Reply.UserName" class="form-control" />
                <span asp-validation-for="Reply.UserName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reply.IsReported" /> @Html.DisplayNameFor(model => model.Reply.IsReported)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Reply.ReportMessage" class="control-label"></label>
                <input asp-for="Reply.ReportMessage" class="form-control" />
                <span asp-validation-for="Reply.ReportMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
