@page 
@model Snackistwo.Pages.ProfileModel
@{
}

@if(@Model.MyUser != null)
{
    <form method="post" enctype="multipart/form-data">
        <label asp-for="MyUser.Image">Change Picture</label>
        <input type="file" name="UploadedImage" />

        <input type="submit" class="btn btn-success" value="Save picture" />
    </form>
}
